<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
</head>

<body>
    <h1>pandas for everyone. 🐼</h1>
    
    <div id="totalBar" class="w3-light-grey" style="height:25px">
        <div id="myBar" class="w3-container w3-light-blue" style="width:0%; height:25px"></div>
    </div>
    <div id="app">
        <md-progress-bar md-mode="determinate" :md-value="amount"></md-progress-bar>
        <md-steppers>
            <md-step v-for="question in questions" :key=question.name>
                <doctest-activity v-bind:layout-things=question.layoutItems
                    v-bind:question-name=question.name @questionhandler="toggleQuestionStatus" />
            </md-step>
        </md-steppers>
    </div>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@beta"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/python/python.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-codemirror@4.0.6/dist/vue-codemirror.min.js"></script>

<script>
    Vue.use(VueMaterial.default)
    Vue.use(window.VueCodemirror)
    Vue.component('doctest-activity', {
        props: ['layoutThings', 'questionName'],
        data: function () {
            return {
                amount:0,
                answer: "",
                layoutItems: this.layoutThings,
                cmOptions: {
                    mode: 'python',
                    lineNumbers: true
                },
                cmReadOnly: {
                    lineNumbers: true,
                    mode: "python",
                    readOnly: true
                }
            }
        },
        methods: {
            postContents: function () {
                // only when submit question successfully
                var totalElem = document.getElementById("totalBar");
                var elem = document.getElementById("myBar");
                var totalPos = totalElem.getBoundingClientRect();
                var progressPos = elem.getBoundingClientRect();
                var totalWidth = totalPos.width;
                var progressWidth = progressPos.width;
                progressWidth = progressWidth + (totalWidth/10);
                elem.style.width = progressWidth; 
                this.amount = this.amount + 10;
                // comment: leaving the gatewayUrl empty - API will post back to itself
                const gatewayUrl = '';
                fetch(gatewayUrl, {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ shown: { 0: this.layoutItems[0].vModel }, editable: { 0: this.layoutItems[1].vModel } })
                }).then(response => {
                    return response.json()
                }).then(data => {
                    this.answer = JSON.parse(JSON.stringify(data))
                    return this.$emit('questionhandler', { data, questionName: this.questionName })
                })
            }
        },
        template:
            `<div class="md-layout  md-gutter">
            
            <div id="cardGroupCreator" class="md-layout-item md-size-50">
                <md-table v-model="layoutItems[2].data" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
                  <md-table-toolbar>
                        <h3>{{layoutItems[2].header}}</h3>
                  </md-table-toolbar>
            
                  <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
                    <md-table-cell md-label="NAME" md-sort-by="name">{{ item.name }}</md-table-cell>
                    <md-table-cell md-label="GENDER" md-sort-by="gender">{{ item.gender }}</md-table-cell>
                    <md-table-cell md-label="AGE" md-sort-by="age">{{ item.age }}</md-table-cell>
                    <md-table-cell md-label="CHILDREN" md-sort-by="children">{{ item.children }}</md-table-cell>
                    <md-table-cell md-label="RESIDENCE" md-sort-by="residence">{{ item.residence }}</md-table-cell>
                  </md-table-row>
                </md-table>
                
                <md-card>
                </md-card>
                
                <md-table v-model="layoutItems[3].data" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
                  <md-table-toolbar>
                        <h3>{{layoutItems[3].header}}</h3>
                  </md-table-toolbar>
            
                  <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
                    <md-table-cell md-label="NAME" md-sort-by="name">{{ item.name }}</md-table-cell>
                    <md-table-cell md-label="GENDER" md-sort-by="gender">{{ item.gender }}</md-table-cell>
                    <md-table-cell md-label="AGE" md-sort-by="age">{{ item.age }}</md-table-cell>
                    <md-table-cell md-label="CHILDREN" md-sort-by="children">{{ item.children }}</md-table-cell>
                    <md-table-cell md-label="RESIDENCE" md-sort-by="residence">{{ item.residence }}</md-table-cell>
                  </md-table-row>
                </md-table>
                
                
            </div>
            
            
            <div id="cardGroupPreview" class="md-layout-item md-size-50">
                <md-card> <!-- Examples -->
                    <md-card-header>
                        <md-card-header-text>
                            <div class="md-title">{{layoutItems[0].header}}</div>
                            <div class="md-subhead">{{layoutItems[0].subHeader}}</div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <md-field>
                             <codemirror class="editableTextarea" v-model="layoutItems[0].vModel" :options="cmReadOnly"></codemirror>
                        </md-field>
                    </md-card-content>
                </md-card>
                
                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <div class="md-title">{{layoutItems[1].header}}</div>
                            <div class="md-subhead">{{layoutItems[1].subHeader}}</div>
                        </md-card-header-text>
                            <md-card-media>
                                <md-button class="md-raised md-primary" v-on:click="postContents">Submit</md-button>
                            </md-card-media>
                    </md-card-header>
                    <md-card-content>
                        <md-field>
                            <codemirror class="editableTextarea" v-model="layoutItems[1].vModel" :options="cmOptions"></codemirror>
                        </md-field>
                    </md-card-content>
                </md-card>
                
                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <div class="md-title">Output</div>
                            <div class="md-subhead">Test results</div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <md-field>
                            <md-tabs>
                                <md-tab id="tab-htmlResults" md-label="HTML results">
                                    <div v-html="answer.htmlFeedback"></div>
                                </md-tab>
                                <md-tab id="tab-jsonResults" md-label="JSON results">
                                    <md-textarea v-model="answer.jsonFeedback" readonly></md-textarea>
                                </md-tab>
                                <md-tab id="tab-textResults" md-label="Text results">
                                    <md-textarea v-model="answer.textFeedback" readonly></md-textarea>
                                </md-tab>
                            </md-tabs>
                        </md-field>
                    </md-card-content>
                </md-card>
                
            </div>
            
        </div>
        `
    })
    new Vue({
        el: '#app',
        data: function () {
            return {
                amount: 100,
                questions: [
                    {
                        name: "question 1", layoutItems: [
                            { header: "Examples", subHeader: 'Objective: Learn how to filter dataframe by column value', vModel: "## Filter for female pandas only \n>>> original_df[original_df['GENDER']=='F'] \n \n## Filter for pandas living in the USA \n>>> original_df[original_df['RESIDENCE']=='USA'] \n " },
                            { header: "Exercise", subHeader: 'Write your code below to modify the Original Dataframe to look like the Expected Output Dataframe.', vModel: "def ifFunc(a,b):\n if a == True:  \n  return b\n" },
                            { header: "Original Dataframe", data: [{id: "1",name: "Mei Xiang",gender: "F",age:"20",children:"Yes",residence:"USA"},
                                                                    {id: "2",name: "Bei Bei",gender: "M",age:"4",children: "No",residence:"USA"},
                                                                    {id: "3",name: "Bai Yun",gender: "F",age:"28",children: "Yes",residence:"China"},
                                                                    {id: "4",name: "Bao Bao",gender: "F",age:"6",children: "No",residence:"China"},
                                                                    {id: "5",name: "Da Mao",gender: "M",age:"11",children: "No",residence:"Canada"},
                                                                    {id: "6",name: "Lin Hui",gender: "F",age:"18",children: "Yes",residence:"Thailand"},
                                                                    {id: "7",name: "Tian Tian",gender: "F",age:"16",children: "No",residence:"UK"},
                                                                    {id: "8",name: "Yuan Zai",gender: "F",age:"6",children: "No",residence:"Taiwan"}]},
                            { header: "Expected Dataframe", data: [{id: "1",name: "Mei Xiang",gender: "F",age:"20",children:"Yes",residence:"USA"},
                                                                    {id: "3",name: "Bai Yun",gender: "F",age:"28",children: "Yes",residence:"China"},
                                                                    {id: "6",name: "Lin Hui",gender: "F",age:"18",children: "Yes",residence:"Thailand"}]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 2", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> forLoop([1,2,3])\n6 \n>>> forLoop([1,2,3,4,5])\n15 \n>>> byteCodeChecker(forLoop, 'OPNAME', 'FOR_ITER')\n'found FOR_ITER'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "def forLoop(listOfNumbers):\n total = 0 \n index = 0 \n while index < len(listOfNumbers):\n  total += listOfNumbers[index]\n  index += 1\n return total" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 3", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> useEnumerate(['bunnyA','bunnyB'])\n'bunnyA is at index 0 bunnyB is at index 1 ' \n>>> useEnumerate(['crabbyA','crabbyB'])\n'crabbyA is at index 0 crabbyB is at index 1 ' \n>>> codeInfoChecker(useEnumerate, 'enumerate')\n'found enumerate'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "def useEnumerate(list):\n locationOfItems = '' \n for index in range(len(list)): \n  value = list[index]\n  locationOfItems += f'{value} is at index {index} '\n return locationOfItems" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 4", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> useZip(['pikachu','bulbasaur'],['lightning type','grass type'])\n'pikachu is lightning type bulbasaur is grass type ' \n>>> useZip(['Barney','Pooh'],['T-rex','teddy bear'])\n'Barney is T-rex Pooh is teddy bear ' \n>>> codeInfoChecker(useZip, 'zip')\n'found zip'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "def useZip(list1, list2):\n resultString = ''\n for index, value in enumerate(list1):\n  resultString += f'{value} is {list2[index]} '\n return resultString" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 5", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> eat()\n'I ate burger I ate fries '\n>>> codeInfoChecker(foodGenerator, 'GENERATOR')\n'found GENERATOR'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "# generator function which yields data values\ndef foodGenerator():\n yield 'ice cream'\n\n# eat() function calls foodGenerator() and iterates over the yielded values\ndef eat():\n foodEaten = ''\n for food in foodGenerator():\n  foodEaten += f'I ate {food} '\n return foodEaten" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 6", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> eat()\n'I ate burger I ate fries '\n>>> codeInfoChecker(foodGenerator, 'GENERATOR')\n'found GENERATOR'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "# generator function which yields data values\ndef foodGenerator():\n yield 'ice cream'\n\n# eat() function calls foodGenerator() and iterates over the yielded values\ndef eat():\n foodEaten = ''\n for food in foodGenerator():\n  foodEaten += f'I ate {food} '\n return foodEaten" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 7", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> eat()\n'I ate burger I ate fries '\n>>> codeInfoChecker(foodGenerator, 'GENERATOR')\n'found GENERATOR'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "# generator function which yields data values\ndef foodGenerator():\n yield 'ice cream'\n\n# eat() function calls foodGenerator() and iterates over the yielded values\ndef eat():\n foodEaten = ''\n for food in foodGenerator():\n  foodEaten += f'I ate {food} '\n return foodEaten" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 8", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> eat()\n'I ate burger I ate fries '\n>>> codeInfoChecker(foodGenerator, 'GENERATOR')\n'found GENERATOR'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "# generator function which yields data values\ndef foodGenerator():\n yield 'ice cream'\n\n# eat() function calls foodGenerator() and iterates over the yielded values\ndef eat():\n foodEaten = ''\n for food in foodGenerator():\n  foodEaten += f'I ate {food} '\n return foodEaten" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 9", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> eat()\n'I ate burger I ate fries '\n>>> codeInfoChecker(foodGenerator, 'GENERATOR')\n'found GENERATOR'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "# generator function which yields data values\ndef foodGenerator():\n yield 'ice cream'\n\n# eat() function calls foodGenerator() and iterates over the yielded values\ndef eat():\n foodEaten = ''\n for food in foodGenerator():\n  foodEaten += f'I ate {food} '\n return foodEaten" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                    {
                        name: "question 10", layoutItems: [
                            { header: "Tests", subHeader: 'byteCodeChecker() and codeInfoChecker() are our functions used in these tests', vModel: ">>> eat()\n'I ate burger I ate fries '\n>>> codeInfoChecker(foodGenerator, 'GENERATOR')\n'found GENERATOR'" },
                            { header: "Editable Code Block", subHeader: 'Your code goes below. Avoid double quotes.', vModel: "# generator function which yields data values\ndef foodGenerator():\n yield 'ice cream'\n\n# eat() function calls foodGenerator() and iterates over the yielded values\ndef eat():\n foodEaten = ''\n for food in foodGenerator():\n  foodEaten += f'I ate {food} '\n return foodEaten" },
                            { header: "Original Dataframe", data:[]},
                            { header: "Expected Dataframe", data:[]}
                        ], status: " 🔴"
                    },
                ]
            }
        },
        methods: {
            toggleQuestionStatus(response) {
                const { data, questionName } = response
                if (data.htmlFeedback) {
                    const searchText = data.htmlFeedback
                    searchText.search(/b2d8b2/) !== -1 ?
                        searchText.search(/#ff9999/) == -1 ?
                            this.questions.find(item => item.name === questionName).status = " ✔️"
                            :
                            this.questions.find(item => item.name === questionName).status = " 🤨"
                        :
                        this.questions.find(item => item.name === questionName).status = " 🔴"
                }
            }
        }
    })
    
</script>

<style lang="scss" scoped>
    .md-card {
        width: 95%;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        min-height: 50px;
        max-height: 400px
    }
    .md-card-content {
        padding-bottom: 16px !important;
    }
    button {
        display: block;
        margin: 20px 60px 20px 60px;
        width: 200px !important;
    }
    #cardGroupCreator {
        display: flex;
        flex-direction: column;
        padding-right: 0px
    }
    #cardGroupPreview .md-card {
        width: 100%;
    }
    #cardGroupPreview {
        padding-left: 0px
    }
    #cardGroupPreview .md-tab {
        height: 100%
    }
    textarea {
        font-size: 1rem !important;
        min-height: 175px !important
    }
    .md-tabs {
        width: 100%;
    }
    .md-tab {
        overflow-x: auto;
    }
    .md-tab::-webkit-scrollbar {
        width: 0px;
    }
    html {
        width: 95%;
        margin: auto;
        mix-blend-mode: darken
    }
    h1 {
        background: #EDBC00;
        color: #111;
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 40px; 
        padding: 12px;
        font-weight: bold; 
        letter-spacing: -1px; 
        line-height: 1;
        margin: auto;
        text-align: center
    }
    .md-content {
        min-height: 300px
    }
    .md-tabs-container,
    .md-tabs-container .md-tab textarea,
    .md-tabs-content {
        height: 100% !important
    }
    .md-field {
        margin: 0px;
        padding: 0px
    }
    .md-tabs-navigation {
        justify-content: center !important
    }
    .md-card-media {
        width: 400px !important
    }
    .md-button {
        margin: 10px !important
    }
    .cm-s-default {
        height: 100%
    }
    .md-card-header {
        padding: 0 16px 16px 16px
    }
</style>

</html>
